html {
box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit; }

h1 {
  font-size: 8rem;
  font-weight: 700;
  margin-bottom: 0;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 35px;
  font-family: 'Homemade Apple', cursive;
  text-align: center;
}

body {
  color: black;
  margin: 0;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main_image:hover{
  transform: scale(1.1);
  transition: transform .3s;
}

.footer {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color:  #eaeded; 
  margin-bottom: 0;
  padding: 15px;
}

.fa {
  padding: 10px;
  font-size: 40px;
  width: 55px;
  border-radius: 30%;
  text-decoration: none;
  background: none;
  color: black;
  border-color: black;
  cursor: pointer;
}

.fa-facebook:hover {
  background-color: #4267b2;
  color: white;
  opacity: 1;
  text-decoration: none;
}

.fa-twitter:hover {
  background-color: #38A1F3;
  color: white;
  opacity: 1;
  text-decoration: none;
}

.fa-instagram:hover {
  background-color: #231F20;
  color: white;
  opacity: 0.6;
  text-decoration: none;
}

.index_image {
  position: relative;
  width: 100%;
}

h3 {
  position: absolute;
  top: 150px;
  width: 100%;
  text-align: center;
  color: White;
  font-size: 3rem;
  font-weight: bold;
}

.main {
  top: 0;
  position: relative;
}

.header {
  background-image: url("/Users/sararidha/Documents/Code First Girls/coding_course/group_project/images/london.png");
  background-position: bottom;
  background-repeat: repeat-x;
  padding: 80px;
}

.nav {
  background-color:  #eaeded; 
  margin: 0;
  width: 100%;
  position: sticky;
  top:0;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.nav-link {
  float: none;
  color: black;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 30px;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

.nav-link:hover {
  color: black;
}

h5, p {
  font-family: 'Oswald', sans-serif;
}

.card-body {
  overflow: scroll;
  text-align: center;
}

.row,
.row > .column-sm {
  padding: 30px;
}

.card {
  padding: 18px;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
  transition: transform .3s;
}