html {
box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit; }

h1 {
  font-size: 8rem;
  font-weight: 700;
  margin-bottom: 0;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 35px;
  font-family: 'Homemade Apple', cursive;
  text-align: center;
}

body {
  color: black;
  margin: 0;
  /* background-color:  #fef9e7; */
}

.flex-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.main_image {
  padding: 10px;
  border-radius: 20px;
}

.index_image:hover{
  transform: scale(1.1);
  transition: transform .3s;
}

.index_image {
  position: relative;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 50px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  border-radius: 20px;
}

.index_image:hover .overlay {
  opacity: 1;
}

.footer {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color:  #eaeded; 
  /* background-color:  #f5b7b1; */
  margin-bottom: 0;
  padding: 20px;
}

.fa {
  padding: 10px;
  font-size: 40px;
  width: 55px;
  border-radius: 30%;
  text-decoration: none;
  background: none;
  color: black;
  border-color: black;
  cursor: pointer;
}

.fa-facebook:hover {
  background-color: #4267b2;
  color: white;
  opacity: 1;
  text-decoration: none;
}

.fa-twitter:hover {
  background-color: #38A1F3;
  color: white;
  opacity: 1;
  text-decoration: none;
}

.fa-instagram:hover {
  background-color: #231F20;
  color: white;
  opacity: 0.6;
  text-decoration: none;
}

h3 {
  position: absolute;
  top: 150px;
  width: 100%;
  text-align: center;
  color: White;
  font-size: 5rem;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
}

.main {
  top: 0;
  position: relative;
}

.header {
  background-image: url("../images/london.png");
  background-position: bottom;
  background-repeat: repeat-x;
  padding: 80px;
  background-color: white;
}

.nav {
  background-color:  #eaeded; 
  /* background-color:  #f5b7b1; */
  margin: 0;
  width: 100%;
  position: sticky;
  top:0;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.nav-link {
  float: none;
  color: black;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 30px;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  opacity: 0.7;
}

.nav-link:hover {
  color: black;
  opacity: 1;
  background-color: white;
}

h5, p {
  font-family: 'Oswald', sans-serif;
}

.card-body {
  overflow: scroll;
  text-align: center;
}

.row,
.row > .column-sm {
  padding: 30px;
}

.card {
  padding: 18px;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
  transition: transform .3s;
}

.contact, .subscribe {
  text-align: center;
  padding: 20px;
  /* border: 2px solid black;
  margin: 20px 350px;
  border-radius: 40px;
  background-color:  #fef9e7; */
}

h4 {
  font-family: 'Homemade Apple', cursive;
  font-size: 30px;
}

#contact_form {
  font-family: 'Oswald', sans-serif;
}

#subscribe_form {
  font-family: 'Oswald', sans-serif;
}

.check_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.check_box1, .check_box2, .check_box3 {
  display: flex;
  flex-direction: row;
}

#firstname, #lastname, #message, #email {
  font-size: 12px;
  border: 2px solid black;
  border-radius: 10px;
  width: 400px;
  padding: 10px;
  font-size: 15px;
  font-style: italic;
}

#firstname, #lastname, #email {
  height: 40px;
}

#submit_button, #subscribe_button {
  font-size: 12px;
  border: 2px solid black;
  border-radius: 10px;
  width: 100px;
  padding: 10px;
  font-size: 15px;
}

.check_box, #contact_form, #subscribe_form > p {
  font-size: 20px;
}

.check_box {
	display: inline-block;
  position: relative;
  padding-top: 0px;
  padding-bottom: 20px;
}

#check_box1, #check_box2, #check_box3 {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  border-radius: 5px;
}

#check_box1_label, #check_box2_label, #check_box3_label {
  padding-left: 15px;
}

#subscribe_button, #submit_button {
  box-shadow: 1px 2px  black;
}

#subscribe_button:hover, #submit_button:hover {
  /* background-color: #aeb6bf; */
  background-color: #fcf3cf;
}